/* ADVERTISERS SERVICE CARD */
body {
  font-family: "Roboto", sans-serif !important;
}

.sec-icon {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}

.sec-icon::before {
  content: "";
  position: absolute;
  height: 1px;
  left: -70px;
  margin-top: -5.5px;
  top: 60%;
  background: #f5f5f5;
  width: 50px;
}

.sec-icon::after {
  content: "";
  position: absolute;
  height: 1px;
  right: -70px;
  margin-top: -5.5px;
  top: 60%;
  background: #333;
  width: 50px;
}

.advertisers-service-sec {
  background-color: #f5f5f5;
  border-radius: 10px;
}

.advertisers-service-sec span {
  color: #cea965;
}

.advertisers-service-sec .col {
  padding: 0 1em 1em 1em;
  text-align: center;
}

.advertisers-service-sec .service-card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  z-index: 2;
  overflow: hidden;
  /* background: #fff; */
}

.advertisers-service-sec h3 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  color: black;
  margin: 1em 0;
  z-index: 3;
}

.advertisers-service-sec p {
  color: var(--primaryColor);
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  z-index: 3;
}

.advertisers-service-sec .icon-wrapper {
  background-color: #2c7bfe;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
  z-index: 3;
}

.service-card .icon-wrapper {
  /* background-color: #ffffff; */
  color: rgb(145, 145, 145);
}

/* ADVERTISERS SERVICE CARD ENDED */
.category-heading {
  color: var(--primaryColor) !important;
}
.category-heading-1 {
  color: #9b9999 !important;
}

.service-card-content{
  position: relative;
  z-index: 2;
  background-color: #81818160;
  padding: 10px;
  border-radius: 5px;
}

.service-card-img{
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}